/*-----fonts-----*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Roboto+Condensed:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gilda+Display&family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Roboto+Condensed:wght@300;400&display=swap");
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

img {
  width: 100%; }

body {
  background-color: #fff;
  color: #000000; }

/*--------header-------*/
.flex__center, header .header__logo, header .navbar {
  display: flex;
  align-items: center; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2.8rem 0;
  /*------------NAV-BAR CON BOOTSTRAP Y FLEX-------------*/ }
  header .header__img {
    max-width: 100px;
    border-radius: 50%; }
  header .header:hover {
    max-width: 110px; }
  header .header__info {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: flex-start;
    padding-top: 1.8rem;
    margin: 0 1.2rem 0 1.2rem; }
  header .header__titulo {
    font-family: "Lobster", sans-serif;
    font-size: 4rem; }
  header .header__subtitulo {
    font-family: "lato", sans-serif;
    font-size: 1.2rem;
    color: #000000; }
  header .navbar {
    background-color: #fff; }
    header .navbar .icon__success {
      background-color: #fff; }
    header .navbar .menu__item {
      font-size: 2rem;
      padding: 0.5rem;
      border: 1px solid #fff;
      transition: all 1s;
      font-weight: 300;
      color: #000000;
      margin: 0 1.5rem 0 1.5rem; }
      header .navbar .menu__item:hover {
        border-color: #bd881ff5;
        border-radius: 3px;
        color: #000000; }
    header .navbar .menu__product {
      border: 1px solid #fff;
      transition: all 1s;
      font-weight: 300;
      color: #331c01; }
      header .navbar .menu__product:hover {
        border-color: #302b27;
        border-radius: 3px;
        background-color: #fff; }
    header .navbar .menu__registro {
      display: flex;
      justify-content: space-around;
      gap: 2.8rem; }

/*----------footer---------*/
.footer {
  margin-top: 6rem;
  padding-top: 2rem;
  height: 15 rem;
  display: flex;
  justify-content: space-around; }

p {
  font-family: "lato", sans-serif;
  font-size: 2rem;
  margin-bottom: 2.8rem;
  text-align: center;
  color: #fff; }

.footer__icons {
  display: flex; }

.redes {
  margin: 1rem; }

.whatsapp_img {
  width: 18px;
  height: 18px; }

ul {
  list-style-type: none;
  text-align: center; }
  ul a {
    text-decoration: none;
    font-family: "lato", sans-serif;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    font-weight: 300; }
    ul a:visited {
      color: #fff; }

.footer__item {
  font-size: 2rem;
  padding: 0.5rem;
  border: 1px solid #331c01;
  transition: all 1s;
  font-weight: 300;
  color: #fff;
  margin: 0 1.5rem 0 1.5rem;
  text-decoration: none; }
  .footer__item:hover {
    border-color: #bd881ff5;
    border-radius: 3px;
    color: #fff; }

.btn__views, .btn__buy {
  background: #ffbf3f;
  color: #222222;
  font-size: 12px;
  padding: 15px 25px;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  border: 2px solid #545454;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: all 0.2s ease;
  line-height: 1.5;
  border-radius: 6px; }
  .btn__views:hover, .btn__buy:hover {
    background: #fcad0f; }

.btn__buy {
  padding: 12px 23px;
  align-items: center;
  margin: 2.8rem; }

.card {
  border-color: #fff;
  align-items: center; }

.card-body {
  margin: 3.6rem;
  align-content: center; }

.card-title {
  font-size: 4.3rem;
  padding: 10px;
  font-family: "Gilda Display", serif; }

.card-text {
  color: #302b27;
  font-size: 2.5rem;
  font-family: "lato", sans-serif;
  text-align: justify; }

.back__color {
  background-color: #331c01; }

.titulo1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .titulo1 .whatsapp_img {
    width: 18px;
    height: 18px; }

/*---------SEGUNDA SECCION - VIDEO-------*/
.conteiner {
  background-color: #bd881ff5;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  border-radius: 5px;
  box-shadow: #bdb8b8 0px 10px 14px 1px; }
  .conteiner .conteiner__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10rem; }
    .conteiner .conteiner__text .text__video {
      font-family: "Gilda Display", serif;
      font-size: 6.5rem;
      font-weight: 400;
      margin-top: 2.8rem;
      color: #fff; }
    .conteiner .conteiner__text .text__video--bajo {
      font-size: 2rem;
      font-weight: 300;
      color: #fff; }
  .conteiner .video {
    margin-top: 40px; }

/*-------------main---------------*/
.main {
  height: 650px;
  margin: 6rem 0;
  display: flex;
  align-items: center; }
  .main__image {
    background-image: url(../img/fondomain1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #1f1300;
    min-width: 100%;
    min-height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .main__image .image__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem; }
      .main__image .image__text--0 {
        font-family: "Gilda Display", serif;
        font-size: 5.2rem;
        color: #fff; }
      .main__image .image__text--1 {
        font-family: "Gilda Display", serif;
        font-size: 2rem; }
      .main__image .image__text--2 {
        font-family: "Gilda Display", serif;
        font-size: 2rem; }
      .main__image .image__text--3 {
        font-size: 1.2rem;
        color: #000000; }

h3 {
  text-align: center;
  font-family: "ITC Cheltenham", serif;
  font-weight: 400;
  font-size: 3.5rem;
  padding: 2.8rem;
  margin-bottom: 6rem;
  text-transform: uppercase; }

.gallery {
  display: flex;
  gap: 2.8rem;
  justify-content: center; }

.gallery__img {
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: #302b27 1px 1px 3px; }

.img_infaltables {
  border-radius: 15px; }

/*------- VIEWS-CONTACTO----------*/
.views__titulo {
  font-family: "Gilda Display", serif;
  font-weight: 300;
  margin-top: 6rem;
  padding: 20px;
  border-top: 1px solid #bd881ff5;
  font-size: 8.5rem;
  color: #331c01;
  grid-area: banner;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/fondosarepas.jpg);
  height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35vh; }

.text-center {
  padding: 2rem; }

form .form-label__contact {
  font-size: 1.2rem; }

.container__form {
  width: 500px; }

/*-------------DELIVERY-ENVIOS-------------*/
.delivery {
  height: 60rem;
  margin: 6rem; }
  .delivery .delivery__text {
    font-family: "Gilda Display", serif;
    font-size: 3.5rem;
    color: #331c01;
    text-align: justify;
    margin: 1rem; }
  .delivery .delivery__list, .delivery .delivery__ckeckbox {
    font-family: "Gilda Display", serif;
    font-size: 2rem;
    text-align: justify;
    color: #000000; }
    .delivery .delivery__list .list, .delivery .delivery__ckeckbox .list {
      margin: 2rem; }
  .delivery .delivery__ckeckbox {
    display: flex;
    flex-direction: row;
    justify-content: none;
    align-items: center;
    gap: 1rem; }

/*------------------NOSOTROS----------------*/
.nosotros {
  padding: 6rem;
  display: flex;
  justify-content: center; }

/*--------------PRODUCTS--------*/
.flex__column, .conteinerpro .catalogo__box, .conteinerpro .info {
  display: flex;
  flex-direction: column; }

.conteinerpro {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem; }
  .conteinerpro .catalogo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem; }
    .conteinerpro .catalogo__box {
      align-items: center; }
    .conteinerpro .catalogo__img {
      width: 200px;
      height: 250px;
      display: flex;
      align-items: center;
      box-shadow: #302b27 1px 1px 3px; }
  .conteinerpro .info {
    align-items: center; }
    .conteinerpro .info__title {
      font-size: 2rem;
      color: #331c01;
      text-align: center; }
    .conteinerpro .info__subtitle {
      margin: 1rem;
      color: #302b27;
      font-size: 1.2rem;
      text-align: center; }

.button__registro {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

/*---index----*/
@media (min-width: 320px) and (max-width: 576px) {
  .titulo1 {
    font-size: 1rem;
    height: 60px;
    flex-wrap: wrap; }
  .back__titulo {
    height: 60px; }
  .flex__column2, .conteiner, .conteiner .conteiner__text, .gallery__index, .footer {
    display: flex;
    flex-direction: column; }
  header {
    flex-wrap: wrap;
    padding: 3rem 0; }
    header .header__img {
      max-width: 70px; }
      header .header__img:focus {
        max-width: 80px; }
    header .header__info {
      padding-top: 0.2rem;
      margin: 0 0.8rem 0 0.8rem; }
    header .header__titulo {
      font-size: 2.5rem;
      margin-bottom: 0; }
    header .header__subtitulo {
      font-size: 1rem; }
    header .navbar .menu__item {
      padding: 2px;
      margin: 1rem 0 1rem 0; }
  .conteiner {
    align-items: center;
    margin-bottom: 2.8rem; }
    .conteiner .conteiner__text {
      align-items: center;
      text-align: center;
      padding-right: 0; }
      .conteiner .conteiner__text .text__video {
        font-size: 3.8rem; }
      .conteiner .conteiner__text .text__video--bajo {
        font-size: 1.8rem;
        margin-bottom: 2.8rem; }
    .conteiner .video__index {
      width: 450px;
      height: 380px; }
  .main {
    height: 350px; }
    .main .image__text--0 {
      font-size: 3rem; }
    .main .image__text--1 {
      font-size: 2.5rem; }
    .main .image__text--2 {
      font-size: 1.8rem; }
    .main .btn__views, .main .btn__buy {
      font-size: 10px;
      padding: 12px 22px; }
  .title__gallery {
    font-size: 2.8rem; }
  .gallery__index {
    align-items: center;
    gap: 6rem; }
  .gallery__img {
    width: 400px; }
  p {
    font-size: 1.5rem;
    margin-bottom: 0; }
  .menu__item {
    font-size: 1.5rem;
    text-align: center;
    border: #331c01; }
  a {
    font-size: 1rem;
    text-align: center; }
  ul {
    padding-left: 0; }
  .footer__icons {
    display: flex;
    justify-content: center; }
  .redes {
    width: 20px;
    height: 20px; }
  /*---contacto---*/
  .views__titulo {
    font-size: 3.8rem; }
  .container__form {
    width: 100%; }
    .container__form .btn__views, .container__form .btn__buy {
      font-size: 10px;
      padding: 12px 22px; }
  /*---productos----*/
  .conteinerpro .catalogo {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(6, auto);
    margin: 0.5rem; }
  .conteinerpro .catalogo__box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  /*---envios----*/
  .delivery {
    height: 55rem;
    margin: 2rem; }
    .delivery .delivery__text {
      font-size: 2.4rem; }
    .delivery .delivery__list, .delivery .delivery__ckeckbox {
      font-size: 1.6rem; }
    .delivery .list {
      font-size: 1.5rem; }
    .delivery .delivery__ckeckbox {
      font-size: 1.5rem; }
  /*----Nosotros----*/
  .card-body {
    margin: 1rem; }
  .card-title {
    font-size: 2.2rem; }
  .card-text {
    font-size: 1.5rem; } }

/*--------TABLET-------*/
@media (min-width: 577px) and (max-width: 991px) {
  /*---index----*/
  .titulo1 {
    font-size: 1rem;
    height: 40px;
    flex-wrap: wrap; }
  .back__titulo {
    height: 45px; }
  .flex__column3, .conteiner, .conteiner .conteiner__text, .gallery__index, .footer {
    display: flex;
    flex-direction: column; }
  header {
    flex-wrap: wrap;
    padding: 3rem 0; }
    header .header__img {
      max-width: 80px; }
      header .header__img:focus {
        max-width: 90px; }
    header .header__info {
      padding-top: 0.2rem;
      margin: 0 0.8rem 0 0.8rem; }
    header .header__titulo {
      font-size: 3rem;
      margin-bottom: 0; }
    header .header__subtitulo {
      font-size: 1rem; }
    header .navbar .menu__item {
      padding: 2px;
      margin: 1rem 0 1rem 0; }
  .conteiner {
    align-items: center;
    margin-bottom: 2.8rem; }
    .conteiner .conteiner__text {
      align-items: center;
      text-align: center;
      padding-right: 0; }
      .conteiner .conteiner__text .text__video {
        font-size: 4rem; }
      .conteiner .conteiner__text .text__video--bajo {
        font-size: 1.8rem;
        margin-bottom: 2.8rem; }
    .conteiner .video__index {
      width: 560px;
      height: 315px; }
  .main {
    height: 500px; }
    .main .image__text--0 {
      font-size: 3.5rem; }
    .main .image__text--1 {
      font-size: 2.7rem; }
    .main .image__text--2 {
      font-size: 1.8rem; }
  .title__gallery {
    font-size: 3rem; }
  .gallery__index {
    align-items: center;
    gap: 6rem; }
  .gallery__img {
    width: 500px;
    height: 450px;
    margin: 4rem; }
  p {
    font-size: 1.8rem;
    margin-bottom: 0; }
  a {
    font-size: 1rem;
    text-align: center; }
  ul {
    padding-left: 0; }
  .footer__icons {
    display: flex;
    justify-content: center; }
  .redes {
    width: 20px;
    height: 20px; }
  /*---contacto---*/
  .views__titulo {
    font-size: 4rem; }
  .container__form {
    width: 100%; }
    .container__form .btn__views, .container__form .btn__buy {
      font-size: 12px;
      padding: 12px 22px; }
  /*---productos----*/
  .conteinerpro .catalogo {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(6, auto);
    margin: 0.5rem; }
  .conteinerpro .catalogo__box {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; }
  /*---envios----*/
  .delivery {
    height: 55rem;
    margin: 4rem; }
    .delivery .delivery__text {
      font-size: 3rem; }
    .delivery .delivery__list, .delivery .delivery__ckeckbox {
      font-size: 1.8rem; }
    .delivery .list {
      font-size: 1.8rem; }
    .delivery .delivery__ckeckbox {
      font-size: 1.8rem; }
  /*----Nosotros----*/
  .nosotros {
    padding: 4rem; }
  .card-body {
    margin: 2rem; }
  .card-title {
    font-size: 3.2rem; }
  .card-text {
    font-size: 2rem; } }
