/*-----fonts-----*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&family=Roboto+Condensed:wght@300;400&display=swap");


/*----Normalize-----*/

:root {
    /*colors*/
    --primary: #fff; 
    --secundary: #000000;
    --alternative:#6d3d14; 
    --text-color: #302b27;
    --bottom-color: #f5b82b;
    --border-color: lightgrey;

    /*Spacings*/
    --spacing-large: 6rem;
    --spacing-medium:2.8rem;
    --spacing-small:2rem;
    --spacing-xsmall:1rem;

    /*font-family*/
    --font-principal:'lato', sans-serif;
    --font-title:'Roboto Condensed', serif;

    /*font-sizes*/
    --text-large:5.2rem;
    --text-medium:2rem;
    --text-base:1rem;
    --text-small:1.2rem;

}

*::after,
*::before,
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 html {
    font-size: 62.5%;
 }

 body {
    font-family: var(--font-principal);
    background-color: black;
    color: var(--primary);
 }

 ul {
    list-style-type: none;
    text-align: center;
    color: var(--primary);
 }

 a {
    text-decoration: none;
    font-family: var(--font-title);
    font-size: var(--text-medium);
    color: var(--primary);
    text-align: center;
 }

 img {
    width: 100%;
 }
/*--------header-------*/

.titulo1 {
 text-align: center;
 text-transform: uppercase;
 font-size: var(--text-small);
 height: 30px;
 border-bottom: 1px solid var(--bottom-color);
 display: flex;
 align-items: center;
 justify-content: center;
 }

.whatsapp_img {
   width: 18px;
   height: 18px;
}
 
.logo__img{
    max-width: 100px;
    border-radius: 50%;
    margin: 0 30px 0 30px;
 }

 .logo__img:hover{
   max-width: 110px;
   border-radius: 50%;

}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: var(--spacing-medium) 0;
    
 }
.menu__principal {
    display: flex;
    gap: var(--spacing-medium);
 }
/*------------INDEX CON BOOTSTRAP-------------*/
.navbar {
display: flex;
align-items: center;
background-color: var(--secundary);

}
 .menu__registro {
    display: flex;
    gap: var(--spacing-medium)
 }
 .menu__item {
    font-size: var(--text-medium);
    padding:0.5rem; 
    border: 1px solid var(--secundary);
    transition: all 1s;
    font-weight: 300;
    color: var(--primary);
    margin: 0 1.5rem 0 1.5rem;
 }
 .menu__item:hover{
    border-color: var(--bottom-color);
    border-radius: 3px;
    color: var(--primary);
 }
 .menu__product{
   border: 1px solid var(--primary);
   transition: all 1s;
   font-weight: 300;
   color: var(--alternative);
 }
 .menu__product:hover{
   border-color: #302b27;
   border-radius: 3px;
   background-color: #fff;
 }

 .icon__success{
background-color: #fff;
 }

 .menu__link{
   text-decoration: none;
   color: var(--primary);
 }


/*--------Seccion principal---------*/

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: var(--spacing-small);
    display: flex;
    justify-content: space-evenly;

}

h2{
   font-family: var(--font-principal);
   font-size: var(--text-large);
   font-weight: 400;
   margin: var(--spacing-medium);
}

.conteiner__text {
    display: flex;
    flex-direction: column;
    color: var(--primary);
    text-align: center;
    padding-right: 10rem;
    }

.texto2 {
    font-size: var(--text-medium);
    font-weight: 300;
}
 /*-------------main---------------*/
 .main {
   height: 650px;
   margin: var(--spacing-large) 0;
   display: flex;
   align-items: center;
 }

 .image__main {
   background-image: url(../img/fondomain1.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-color: #1f1300;
   min-width: 100%;
   min-height: 100%;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;

  }

 .text__main{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: var(--spacing-small);
 }

 h1{
   font-family:var(--font-principal);
   font-size: var(--text-large);
   font-weight: 400;
 }
.main__texto4{
   font-family: var(--font-principal);
   font-size: var(--text-medium);
 }
.main__texto5{
   font-size: var(--text-medium);

}

.main__texto6{
   font-size: var(--text-small);
   padding: var(--spacing-xsmall);
   color: var(--secundary);
   font-weight: 700;
}

.btn-main{
   background-image: linear-gradient(to top,#ffffff 10%, #c9c01c  100%) 
   
}
 /*------gallery--------*/
 .gallery {
display: flex;
gap: var(--spacing-small);
justify-content: center;
 }

 /*----------footer---------*/
 .footer {
   margin-top: var(--spacing-medium);
   padding-top: var(--spacing-small);
   height: 15  rem;
   display: flex;
   justify-content: space-around;

}

p{
   font-family: var(--font-title);
   font-size: var(--text-medium);
   margin-bottom: var(--spacing-medium);
   text-align: center;
   color: var(--primary);

}
.footer__icons{
   display: flex;
}

.redes {
   margin: var(--spacing-xsmall);
}

.footer__color{ 
  background-image: linear-gradient(130deg,#000000 10%, #1f0909 60%, #605a26e6  100%)
}

/*------- VIEWS-CONTACTO CON BOOTSTRAP----------*/
.contacto {
   background-color: var(--primary);
   color: var(--secundary);
}

.contacto__text {
   color: var(--primary);
}

.contacto__text1{
color: var(--primary);
text-transform: uppercase;
font-size: var(--text-small);
height: 30px;
border-bottom: 2px solid var(--bottom-color);
}

.navbar__views{
   background-color: var(--primary); 
 }
 
.views__menu {
   font-size: var(--text-medium);
   padding: var(--spacing-xsmall) 1rem; 
   border: 2px solid var(--primary);
   transition: all 1s;
   font-weight: 300;
   }
   
.views__menu:hover{
   border-color: var(--bottom-color);
   border-radius: 5px;
   } 

.menu__item--views{
   font-size: var(--text-medium);
   padding:0.5rem; 
   border: 1px solid var(--primary);
   transition: all 1s;
   font-weight: 300;
   color: var(--secundary);
   margin: 0 1.5rem 0 1.5rem;
   }

.views__titulo{
   font-family: var(--font-title);
   text-transform: uppercase;
   font-weight: 300;
   margin-top: var(--spacing-large);
   border-top: 1px solid var(--bottom-color);
   font-size: var(--text-large);
   text-align: justify;
   color: var(--secundary);
   }



/*-------------CATALOGO-PRODUCTS--------*/

.conteinerpro{
   max-width: 1200px;
   margin: 0 auto;
   margin-top: var(--spacing-small);
}

.catalogo {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   grid-template-rows: repeat(3,1fr);
   gap: var(--spacing-medium);
}

.catalogo__box{
   display: flex;
   flex-direction: column;
   gap: var(--spacing-xsmall);
}

.catalogo__info{
   display: flex;
   flex-direction: column;
   padding: var(--spacing-medium);

}
 
.catalogo__title{
   font-family: var(--font-title);
   font-size: var(--text-medium);
   color: var(--alternative);

}

.catalogo__subtitle{
   margin-top: var(--spacing-xsmall);
   color: var(--text-color);
   font-size: var(--text-small);
}

/*-------------DELIVERY-ENVIOS-------------*/
.delivery {
   height: 40rem;
}
.delivery__text{
   font-family: var(--font-title);
   font-size: 3.5rem;
   color: var(--alternative);
   text-align: justify;
   margin: var(--spacing-xsmall);
}

.delivery__list{
   font-family: var(--font-title);
   font-size: var(--text-medium);
   text-align: justify;
   color: var(--secundarygi);
}

.list{
   margin: var(--spacing-small);
}

.pago{
   color: var(--bottom-color);
   background-color: #1f1300;
   border-radius: 3px;
   font-size: var(--text-medium);
   margin: var(--spacing-xsmall);
}

.delivery__ckeckbox{
   display: flex;
   flex-direction:row;
   gap: var(--spacing-xsmall);
   font-family: var(--font-title);
   font-size: var(--text-medium);
   margin: var(--spacing-xsmall);
  
}

/*------------------NOSOTROS----------------*/

.nosotros{
   display: grid;
   grid-template-columns: repeat(12, 1fr);
   grid-template-rows: repeat(3, 1fr);
   gap: var(--spacing-medium);
   margin: var(--spacing-small);
  
}

.nosotros__img:nth-of-type(1){
   grid-column: 1/6;
 
}

.nosotros__img:nth-of-type(2){
   grid-column: 6/13;
 
}

.nosotros__img:nth-of-type(3){
   grid-column: 1/6;

}

.nosotros__img:nth-of-type(4){
   grid-column: 6/13;
   
}

.nosotros__img:nth-of-type(5){
   grid-column: 1/7;
}

.nosotros__img:nth-of-type(6){
   grid-column: 7/13;
   
}
.nosotros__img:nth-of-type(7){
   grid-column:1/7;
}

.nosotros__img:nth-of-type(8){
   grid-column: 7/13;
}

/*---------------------INICIAR SESION-------------*/
.formulario__registro{
   display: flex;
   justify-content: center;
   align-items: center;
}
.datos__hola{
   font-size: var(--text-medium);
   display: flex;
   flex-direction:column;
   color: var(--alternative);
   align-items: center;
   justify-content: center;

}

.datos__iniciar{
   margin-top: var(--spacing-large);

}

.ingresa__datos{
   margin: var(--spacing-xsmall);
   padding: var(--spacing-xsmall);
   border-radius: 5px;
   border: 1px solid var(--border-color);
   color: var(--border-color);
   text-align: center;
   width: 30rem;
}

.datos__registrarse{
   font-size: var(--text-small);
   background-color: var(--alternative);
   color: var(--primary);
   border-radius: 3px;
   padding: var(--spacing-xsmall);
}

/*--------------REGISTRARSE---------------------*/
.datos__enter{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: var(--spacing-small);

}

/*----------------RESPONSIVE---------------

/*------ Mobile Styles------- 
@media only screen and (max-width: 480px) {

   .titulo1{
      text-align: center;
      font-size: var(--text-small);
      height: 50px;

   }
header{
   display: flex;
   flex-direction: column;
   gap: 0.2rem;
   }
.menu__principal{
   flex-direction: column;
   align-items: center;
   gap: 0.2rem;
}
.menu__item{
   padding: 0.1rem;
   margin: 0;
}
.menu__link{
   font-size: 1.5rem;
   padding: 0.2rem;
}
.conteiner{
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.conteiner__text{
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   padding: 1rem;
}

h2{
   font-size: 3rem;
   margin: var(--spacing-xsmall);
}
h1{
   font-size: 3rem;
   margin: var(--spacing-xsmall); 
}

.main{
   height: 400px;
}

.main__texto5{
   font-size: 1.5rem;
}

.footer{
   display: flex;
   flex-direction: column;

}

p{
   font-family: var(--font-title);
   font-size: 1.5rem;
   padding: 0.8rem;
   margin-bottom: 0;
}
a{
   font-family: var(--font-title);
   font-size: var(--text-small);
   color: var(--primary);
}
.footer__icons{
   display: flex;
   justify-content: center;

}
.redes {
   width: 20px;
   height: 20px;
}
/*--------Mobil style - PRODUCTOS ------
.contacto__text1{
   height: 50px;
   border-bottom: 1px solid var(--bottom-color);
}

.contacto__menu{
   padding: 0.1rem;
   margin: 0;
}
.contacto__text{
   font-size: 1.5rem;
   padding: 0.2rem;
}

.catalogo{
   grid-template-columns: repeat(2, auto);
   margin: 0.5rem;

}
/*-------------Mobile style-ENVIOS-------------
.Contacto__titulo{
   font-size: 3rem;
}

.delivery__text{
   font-size: 1.8rem;
  
}
.list{
   font-size: 1.6rem;
}
.delivery__ckeckbox{
   font-size: 1.6rem;
}
}

/* ---------------Tablet Styles ----------------------
@media only screen and (min-width: 481px) and (max-width: 960px) {
   .titulo1{
      text-align: center;
      font-size: var(--text-small);
      height: 48px;
   
   }

header{
   display: flex;
   flex-direction: column;
   gap: 0.2rem;
   }

   .conteiner{
      display: flex;
      flex-direction: column;
      justify-content: center;
   }
   .conteiner__text{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      padding: 1rem;
   }

   .video {
      display: flex;
      justify-content: center;
   }
   
   h2{
      font-size: var(--text-large);
      margin: var(--spacing-xsmall);
   }
   h1{
      font-size: var(--text-large);
      margin: var(--spacing-xsmall); 
   }
   .main__texto4{
      font-size: var(--text-medium);
   } 

p{
   padding: 1.3rem;
   margin-bottom: 0rem;
   
   }

.footer{
   display: flex;
   flex-direction: column;

}

.footer__icons{
   display: flex;
   justify-content: center;

}
.redes {
   width: 20px;
   height: 20px;
}

/*--------tablet style -Products------
.contacto__text1{
   height: 50px;
   border-bottom: 1px solid var(--bottom-color);

}
.catalogo{
   grid-template-columns: repeat(3, auto);
   margin: 0.5rem;

}
/*-------------Tablet style-ENVIOS-------------
.Contacto__titulo{
   font-size: 3.5rem;
}

.delivery__text{
   font-size: var(--text-medium);
  
}
.list{
   font-size: var(--text-medium);
}
.delivery__ckeckbox{
   font-size: var(--text-medium);
}
}

a{
   color: var(--primary);
}

/*---------------------Animaciones--------------------------*/
