<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/favicon.png" type="image/x-icon">
    <meta name="keywords" content="harinas de maiz, arepas, tequeños, queso llanero, platanos">
    <meta name="description"
        content="Productos venezolanos para preparar las mejores comidas tipicas en casa, excelente sabor y calidad">
    <title>Super Chevere Tienda Digital-Productos</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- CSS propio -->
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<p class="back__color  titulo1"> Entregas a domicilio dentro de zonas centricas en Rosario, consultar valor del envio a
    nuestro whatsapp
    <picture class="icon__whatsapp">
        <img class="whatsapp_img" src="../img/whatsapp_logo_.png" alt="whatsapp">
    </picture> +54 9 3412274645
</p>

<body>
    <header>
        <!------------AGREGANDO BOOTSTRAP AL NAV-------->
        <div class="header__logo">
            <a href="../index.html">
                <img class="header__img" src="../img/logo.jpg" alt="logo">
            </a>
            <div class="header__info">
                <h1 class="header__titulo">Súper Chevere</h1>
                <p class="header__subtitulo">Tienda digítal de productos Venezolanos</p>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar__views">
            <div class="container-fluid">
                <button class="navbar-toggler icon__success" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon icon__success"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link  menu__item" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  menu__item" href="./nosotros.html">Nosotros</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle  menu__item" href="/views/productos.html"
                                id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Productos
                            </a>
                            <ul class="dropdown-menu menu__item" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item menu__product" href="/views/productos.html">Almacem</a></li>
                                <li><a class="dropdown-item menu__product" href="productos.html">Bazar</a></li>
                                <li><a class="dropdown-item menu__product" href="productos.html">lacteos</a></li>
                                <li><a class="dropdown-item menu__product" href="productos.html">Bebidas</a></li>
                                <li><a class="dropdown-item menu__product" href="productos.html">Golosinas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  menu__item" href="envios.html">Envios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  menu__item" href="contacto.html">Contacto</a>
                        </li>
                        <div class="registro">
                            <ul class="menu__registro">
                                <li class="nav-item">
                                    <a class="nav-link  menu__item" href="registrarse.html">Registrarse</a></li>
                                <li class="nav-item">
                                    <a class="nav-link  menu__item" href="iniciarsesion.html">Iniciar sesion</a>
                                </li>
                            </ul>
                        </div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <p class="views__titulo">Productos</p>

    <main class="conteinerpro">
        <section class="catalogo" id="catalogo">
            <article class="catalogo__box">
                <picture class="catalogo__img">
                    <img src="../img/cachapas1.png" alt="Cachapas">
                </picture>
                <div class="card text-center" style="width: 30rem;">
                    <div class="card-body">
                        <h2 class="card-title info__title">Cachapas Congeladas</h2>
                        <p class="card-text info__subtitle">Cachapas de Maiz, pqte 4 Unidades</p>
                        <a href="#" class="btn btn__buy btn__center">Ver</a>
                    </div>
                </div>
            </article>

            <article class="catalogo__box">
                <picture class="catalogo__img">
                    <img src="../img/chuletas.png" alt="chuletas">
                </picture>
                <div class="card text-center" style="width: 30rem;">
                    <div class="card-body">
                        <h2 class="card-title info__title">Chuletas ahumadas</h2>
                        <p class="card-text info__subtitle">Chuletas de cerdo, pqte 5-6 Unidades</p>
                        <a href="#" class="btn btn__buy btn__center">Ver</a>
                    </div>
                </div>
            </article>

            <article class="catalogo__box">
                <picture class="catalogo__img">
                    <img src="../img/pastelitos.png" alt="pastelitos">
                </picture>
                <div class="card text-center info" style="width: 30rem;">
                    <div class="card-body">
                        <h2 class="card-title info__title">Pastelitos Congelados</h2>
                        <p class="card-text info__subtitle">Pasteles rellenos, pqte 12 Unidades</p>
                        <a href="#" class="btn btn__buy">Ver</a>
                    </div>
                </div>
            </article>


            <article class="catalogo__box">
                <picture class="catalogo__img">
                    <img src="../img/tequenos12.png" alt="tequenos">
                </picture>
                <div class="card text-center info" style="width: 30rem;">
                    <div class="card-body">
                        <h2 class="card-title info__title">Tequeños Congelados</h2>
                        <p class="card-text info__subtitle">Tequeños venezolanos, pqte 12 Unidades</p>
                        <a href="#" class="btn btn__buy">Ver</a>
                    </div>
                </div>
            </article>

            <article class="catalogo__box">
                <picture class="catalogo__img">
                    <img src="../img/jamon.png" alt="jamonendiablado">
                </picture>
                <div class="card text-center info" style="width: 30rem;">
                    <div class="card-body">
                        <h2 class="card-title info__title">Jamón Endiablarte</h2>
                        <p class="card-text info__subtitle">Jamón triturado para untar</p>
                        <a href="#" class="btn btn__buy">Ver</a>
                    </div>
                </div>
            </article>

            <article class="catalogo__box">
                <picture class="catalogo__img">
                    <img src="../img/adoboah1.png" alt="adobo">
                </picture>
                <div class="card text-center info" style="width: 30rem;">
                    <div class="card-body">
                        <h2 class="card-title info__title">Adobo Común</h2>
                        <p class="card-text info__subtitle">Condimento completo para sazonar</p>
                        <a href="#" class="btn btn__buy">Ver</a>
                    </div>
                </div>
            </article>

            <article class="catalogo__box">
                <picture class="catalogo__img">
                    <img src="../img/caraotas.png" alt="caraotas">
                </picture>
                <div class="card text-center info" style="width: 30rem;">
                    <div class="card-body">
                        <h2 class="card-title info__title">Caraotas Negras</h2>
                        <p class="card-text info__subtitle">Caraotas negras, pqte 500gr</p>
                        <a href="#" class="btn btn__buy">Ver</a>
                    </div>
                </div>
            </article>

            <article class="catalogo__box">
                <picture class="catalogo__img">
                    <img src="../img/cosaco.png" alt="cosaco">
                </picture>
                <div class="card text-center info" style="width: 30rem;">
                    <div class="card-body">
                        <h2 class="card-title info__title">Harina de Maíz Cosaco</h2>
                        <p class="card-text info__subtitle">Harina de maiz, pqte 1kgr</p>
                        <a href="#" class="btn btn__buy">Ver</a>
                    </div>
                </div>
            </article>

            <article class="catalogo__box">
                <picture class="catalogo__img">
                    <img src="../img/harinapan2.png" alt="harinapan">
                </picture>
                <div class="card text-center info" style="width: 30rem;">
                    <div class="card-body">
                        <h2 class="card-title info__title">Harina de Maíz P.A.N</h2>
                        <p class="card-text info__subtitle">Harina de maiz, pqte 1kgr</p>
                        <a href="#" class="btn btn__buy">Ver</a>
                    </div>
                </div>
            </article>

            <article class="catalogo__box">
                <picture class="catalogo__img">
                    <img src="../img/morixe.png" alt="morixe">
                </picture>
                <div class="card text-center info" style="width: 30rem;">
                    <div class="card-body">
                        <h2 class="card-title info__title">Harina de Maíz Morixe</h2>
                        <p class="card-text info__subtitle">Harina de maiz, pqte 1kgr</p>
                        <a href="#" class="btn btn__buy">Ver</a>
                    </div>
                </div>
            </article>

            <article class="catalogo__box">
                <picture class="catalogo__img">
                    <img src="../img/panelaentera.png" alt="panela">
                </picture>
                <div class="card text-center info" style="width: 30rem;">
                    <div class="card-body">
                        <h2 class="card-title info__title">Panela LA CALEÑA</h2>
                        <p class="card-text info__subtitle">Panela entera de 300gr</p>
                        <a href="#" class="btn btn__buy">Ver</a>
                    </div>
                </div>
            </article>

            <article class="catalogo__box">
                <picture class="catalogo__img">
                    <img src="../img/panelagranulada.jpg" alt="panelagranulada">
                </picture>
                <div class="card text-center info" style="width: 30rem;">
                    <div class="card-body">
                        <h2 class="card-title info__title">Panela Granulada</h2>
                        <p class="card-text info__subtitle">Panela granulada, Pqte de 500gr</p>
                        <a href="#" class="btn btn__buy">Ver</a>
                    </div>
                </div>
            </article>
        </section>
    </main>


    <footer class="footer back__color ">
        <div class="footer__categoria">
            <p>Categorias</p>
            <ul class="footer__navbar--categoria">
                <li><a class="menu__item" href="productos.html">Almacem</a></li>
                <li><a class="menu__item" href="productos.html">Bazar</a></li>
                <li><a class="menu__item" href="productos.html">lacteos</a></li>
                <li><a class="menu__item" href="productos.html">Bebidas</a></li>
                <li><a class="menu__item" href="productos.html">Golosinas</a></li>
            </ul>
        </div>

        <div class="footer__infoutil">
            <p>Informacion útil</p>
            <ul class="footer__navbar--infoutil">
                <li><a class="menu__item" href="envios.html">Formas de Envio</a></li>
                <li><a class="menu__item" href="envios.html">Medios de Pago</a></li>
                <li><a class="menu__item" href="envios.html">¿Cómo Ver?</a></li>
                <li><a class="menu__item" href="envios.html">¿Cómo retirar?</a></li>
            </ul>
        </div>

        <div class="footer__contacto">
            <p>Contacto</p>
            <ul class="footer__navbar--contacto">
                <li><a class="menu__item" href="">
                        <picture class="icon__whatsapp">
                            <img class="whatsapp_img" src="../img/whatsapp_logo_.png" alt="whatsapp">
                        </picture> +54 9 3412274645
                    </a></li>
                <li><a class="menu__item" href="">superchevere.ar@gmail.com</a></li>
            </ul>
        </div>

        <div class="footer__siguenos">
            <p>Siguenos</p>
            <div class="footer__icons">
                <img class="redes" src="../img/facebook_icon25.png" alt="facebook">
                <img class="redes" src="../img/Instagram_icon25.png" alt="instagram">
            </div>
        </div>

        <div class="footer__volver">
            <p><a class="footer__item" href="../index.html">Volver al Inicio</a></p>
        </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
</body>

</html>