<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <title>Registrarse</title>
    <title>Registrarse</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- CSS propio -->
    <link rel="stylesheet" href="../css/estilos.css">
  </head>
  <p class="footer__color contacto__text1"> Entregas a domicilio dentro de zonas centricas en Rosario, consultar valor del
    envio a nuestro whatsapp
    <picture class="icon__whatsapp">
      <img class="whatsapp_img" src="../img/whatsapp_logo_.png" alt="whatsapp">
    </picture> +54 9 3412274645
  </p>
  
  <body class="contacto">
    <header>
      <!------------AGREGANDO BOOTSTRAP AL NAV-------->
      <div class="header__logo">
        <a href="../index.html">
          <img class="logo__img" src="../img/logo.jpg" alt="logo">
        </a>
        <div class="header__info">
          <h1 class="header__titulo header__text">Súper Chevere</h1>
          <p class="header__subtitulo header__text">Tienda digítal de productos Venezolanos</p>
      </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar__views">
        <div class="container-fluid">
          <button class="navbar-toggler icon__success" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon icon__success"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item views__menu">
                <a class="nav-link menu__item--views" aria-current="page" href="../index.html">Inicio</a>
              </li>
              <li class="nav-item views__menu">
                <a class="nav-link menu__item--views" href="./nosotros.html">Nosotros</a>
              </li>
              <li class="nav-item dropdown views__menu">
                <a class="nav-link dropdown-toggle menu__item--views" href="/views/productos.html" id="navbarDropdown"
                  role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Productos
                </a>
                <ul class="dropdown-menu menu__item" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item menu__product" href="/views/productos.html">Almacem</a></li>
                  <li><a class="dropdown-item menu__product" href="productos.html">Bazar</a></li>
                  <li><a class="dropdown-item menu__product" href="productos.html">lacteos</a></li>
                  <li><a class="dropdown-item menu__product" href="productos.html">Bebidas</a></li>
                  <li><a class="dropdown-item menu__product" href="productos.html">Golosinas</a></li>
                </ul>
              </li>
              <li class="nav-item views__menu">
                <a class="nav-link menu__item--views" href="envios.html">Envios</a>
              </li>
              <li class="nav-item views__menu">
                <a class="nav-link menu__item--views" href="contacto.html">Contacto</a>
              </li>
              <div class="registro">
                <ul class="menu__registro">
                  <li class="views__menu">
                    <a class="nav-link menu__item--views" href="registrarse.html">Registrarse</a></li>
                  <li class="views__menu">
                    <a class="nav-link menu__item--views" href="iniciarsesion.html">Iniciar sesion</a></li>
                </ul>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </header>
  
    <p class="views__titulo">Registrarse</p>
  
    <h2 class="text-center display-5">¡Hola! Ingresá tus datos para registrarte</h2>
    <main>
      <form class="container-fluid container__form my-5" action="">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label form-label__contact">Nombre y Apellido</label>
          <input type="name" class="form-control form-control-lg" id="exampleFormControlInput1"
            placeholder="Ingresa Nombre y Apellido">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label form-label__contact">Correo electronico</label>
          <input type="email" class="form-control form-control-lg" id="exampleFormControlInput1"
            placeholder="name@gmail.com">
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label form-label__contact">Contraseña</label>
          <input type="password" class="form-control form-control-lg" id="exampleFormControlInput1"
            placeholder="Contraseña">
        </div>
        <div class="button__registro">
          <div class="my-4">
            <button type="submit" class="btn btn-lg btn-outline-warning">REGISTRARSE</button>
          </div>
          <div class="my-4">
            <input class="btn btn-outline-warning btn-lg" type="reset" value="LIMPIAR DATOS">
          </div>
        </div>
      </form>
    </main>
  
  
    <footer class="footer footer__color">
      <div class="footer__categoria">
        <p>Categorias</p>
        <ul class="footer__navbar--categoria">
          <li><a class="menu__item" href="productos.html">Almacem</a></li>
          <li><a class="menu__item" href="productos.html">Bazar</a></li>
          <li><a class="menu__item" href="productos.html">lacteos</a></li>
          <li><a class="menu__item" href="productos.html">Bebidas</a></li>
          <li><a class="menu__item" href="productos.html">Golosinas</a></li>
        </ul>
      </div>
  
      <div class="footer__infoutil">
        <p>Informacion útil</p>
        <ul class="footer__navbar--infoutil">
          <li><a class="menu__item" href="envios.html">Formas de Envio</a></li>
          <li><a class="menu__item" href="envios.html">Medios de Pago</a></li>
          <li><a class="menu__item" href="envios.html">¿Cómo comprar?</a></li>
          <li><a class="menu__item" href="envios.html">¿Cómo retirar?</a></li>
        </ul>
      </div>
  
      <div class="footer__contacto">
        <p>Contacto</p>
        <ul class="footer__navbar--contacto">
          <li><a href="">
              <picture class="icon__whatsapp">
                <img class="whatsapp_img" src="../img/whatsapp_logo_.png" alt="whatsapp">
              </picture> +54 9 3412274645
            </a></li>
          <li><a href="">superchevere.ar@gmail.com</a></li>
        </ul>
      </div>
  
      <div class="footer__siguenos">
        <p>Siguenos</p>
        <div class="footer__icons">
          <img class="redes" src="../img/facebook_icon25.png" alt="facebook">
          <img class="redes" src="../img/Instagram_icon25.png" alt="instagram">
        </div>
      </div>
  
      <div class="footer__volver">
        <p><a class="menu__item" href="../index.html">Volver al Inicio</a></p>
      </div>
    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
    </script>
  </body>  
</html>