<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <title>Registrarse</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body class="contacto"> 
    
    <p class="contacto__text1"> Entregas a domicilio dentro de zonas centricas en Rosario, consultar valor del envio a nuestro whatsapp 
        <picture class="icon__whatsapp">
            <img class="whatsapp_img" src="../img/whatsapp_logo_.png" alt="whatsapp">
        </picture> +54 9 3412274645 </p>

    <header class="header">
        <picture class="header__logo">
            <img class="logo__img" src="../img/logo.jpg" alt="logo">
        </picture>  
            <nav class="navegation"> 
                 <ul class="menu__principal">
                        <li class="contacto__menu"><a class="contacto__text" href="../index.html">Inicio</a></li>
                        <li class="contacto__menu"><a class="contacto__text" href="nosotros.html">Nosotros</a></li>
                        <li class="contacto__menu"><a class="contacto__text" href="productos.html">Productos</a></li>
                        <li class="contacto__menu"><a class="contacto__text" href="envios.html">Envios</a></li>
                        <li class="contacto__menu"><a class="contacto__text" href="contacto.html">Contacto</a></li>
                </ul>
            </nav>

            <div class="registro">
                <ul class="menu__registro">
                       <li class="contacto__menu"><a class="contacto__text" href="registrarse.html">Registrarse</a></li>
                       <li class="contacto__menu"><a class="contacto__text" href="iniciarsesion.html">Iniciar sesion</a></li>
                </ul>
        </div>
    </header>
    <p class="Contacto__titulo">Registrarse</p>
     <main>
        <form action="">
            <div class="datos__hola">
                <label class="datos" form="nombre">Nombre y Apellido</label>
                <input class="ingresa__datos" type="name" name="nombre" id="nombre" placeholder=""/>
               
               <label class="datos" form="correo electronico">Correo electronico</label>
               <input class="ingresa__datos" type="email" name="Correo" id="correo" placeholder=""/>

               <label class="datos" form="clave">Contraseña</label>
               <input class="ingresa__datos" type="password" name="clave" id="clave" placeholder="" required/> 

               <label class="datos" form="clave">Confirmar Contraseña</label>
               <input class="ingresa__datos" type="password" name="clave" id="clave" placeholder="" required/>
            </div>
            <div class="datos__enter">
               <input class="datos__registrarse" type="submit" value="Registrarse">
               <input class="datos__registrarse" type="reset" value="Limpiar datos">
            </div>
        
        </form>
     </main>
   

     <footer class="footer">
        <div class="footer__categoria">
            <p>Categorias</p>
                <ul>
                    <li><a class="contacto__text" href="productos.html">Almacen</a></li>
                    <li><a class="contacto__text" href="productos.html">Bazar</a></li>
                    <li><a class="contacto__text" href="productos.html">lacteos</a></li>
                    <li><a class="contacto__text" href="productos.html">Bebidas</a></li>
                    <li><a class="contacto__text" href="productos.html">Golosinas</a></li>
                </ul>
        </div>

         <div class="footer__infoutil"> 
            <p>Informacion útil</p>
                <ul class="footer__navbar--infoutil">
                    <li><a a class="contacto__text" href="envios.html">Formas de Envio</a></li>
                    <li><a a class="contacto__text" href="envios.html">Medios de Pago</a></li>
                    <li><a a class="contacto__text" href="envios.html">¿Cómo comprar?</a></li>
                    <li><a a class="contacto__text" href="envios.html">¿Cómo retirar?</a></li>   
                </ul>
         </div>

         <div class="footer__contacto">        
                <p>Contacto</p>
                <ul class="footer__navbar--contacto">
                    <li><a a class="contacto__text" href="#">
                    <picture class="icon__whatsapp">   
                    <img class="whatsapp_img" src="../img/whatsapp_logo_.png" alt="whatsapp">
                    </picture>+54 9 3412274645</a></li>
                    <li><a a class="contacto__text" href="#">superchevere.ar@gmail.com</a></li>
                     
                </ul>
        </div>
        
        <div class="footer__siguenos">      
            <p>Siguenos</p>
            <div class="footer__icons"> 
                <img class="redes" src="../img/facebook_icon25.png" alt="facebook">
                <img class="redes" src="../img/Instagram_icon25.png" alt="instagram">
            </div>
        </div>
        
        <div class="footer__volver"> 
            <p><a class="contacto__text" href="../index.html">Volver al Inicio</a></p>
        </div>
    </footer>
</body>
</html>