<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <title>Registrarse</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">

</head>
</head>
<body>

    <header class="header" id="arriba">
        <div class="header__titulo"> 
            <p class="titulo1">Envios a domicilio dentro de Rosario, consultar valor del envio a nuestro whatsapp <img src="../img/whatsapp_logo_.png" alt="whatsapp"> +54 9 3412274645 </p>
        </div>
            <div class="header__navbar"> 
                <div class="header__logo">
                    <img src="../img/logo.jpg" alt="logo">
                </div>
            <nav class="header__navegacion"> 
                 <ul class="header__navbar--menuprincipal">
                        <li><a href="../index.html">Inicio</a></li>
                        <li><a href="nosotros.html">Nosotros</a></li>
                        <li><a href="productos.html">Productos</a></li>
                        <li><a href="envios.html">Envios</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                </ul>
     
            </nav>
            </div>

        <div class="registro">
            <ul class="header__navbar--registro">
                       <li><a href="#">Registrarse</a></li>
                       <li><a href="iniciarsesion.html">Iniciar sesion</a></li>
            </ul>
       </div>
    </header>
          
     <main>
        <h2 class="titulo"> Registrarse </h2>

        <form action="">
           <fieldset class="formulario__registro"> 
            
                <label class="datos" form="nombre">Nombre y Apellido</label>
                <input class="ingresa__datos" type="name" name="nombre" id="nombre" placeholder=""/>
               
               <label class="datos" form="correo electronico">Correo electronico</label>
               <input class="ingresa__datos" type="email" name="Correo" id="correo" placeholder=""/>

               <label class="datos" form="clave">Contraseña</label>
               <input class="ingresa__datos" type="password" name="clave" id="clave" placeholder="" required/> 

               <label class="datos" form="clave">Confirmar Contraseña</label>
               <input class="ingresa__datos" type="password" name="clave" id="clave" placeholder="" required/>

            <div class="input__registrarse"> 
               <input class="registrarse" type="submit" value="Registrarse">
               <input class="registrarse" type="reset" value="Limpiar datos">

            </div>
           </fieldset>
        
        </form>
     </main>
   

     <footer class="footer">
        <div class="footer__categoria">
            <p>Categorias</p>
                <ul class="footer__navbar--categoria">
                    <li><a href="productos.html">Almacem</a></li>
                    <li><a href="productos.html">Bazar</a></li>
                    <li><a href="productos.html">lacteos</a></li>
                    <li><a href="productos.html">Bebidas</a></li>
                    <li><a href="productos.html">Golosinas</a></li>


                </ul>
        </div>

         <div class="footer__infoutil"> 
            <p>Informacion útil</p>
                <ul class="footer__navbar--infoutil">
                    <li><a href="envios.html">Formas de Envio</a></li>
                    <li><a href="envios.html">Medios de Pago</a></li>
                    <li><a href="envios.html">¿Cómo comprar?</a></li>
                    <li><a href="envios.html">¿Cómo retirar?</a></li>
                            
                    
                </ul>
         </div>

         <div class="footer__contacto">        
                <p>Contacto</p>
                <ul class="footer__navbar--contacto">
                    <li><a href="#"><img src="../img/whatsapp_logo_.png" alt="whatsapp">+54 9 3412274645</a></li>
                    <li><a href="#">superchevere.ar@gmail.com</a></li>
                     
                </ul>
        </div>

        <div class="footer__siguenos"> 
                <p>Siguenos</p>

                <img class="redes" src="../img/facebook_icon25.png" alt="facebook">
                <img class="redes" src="../img/Instagram_icon25.png" alt="instagram">
        </div>

        <div class="footer__volver"> 
            <p><a href="../index.html">Volver al Inicio</a></p>
        </div>
    </footer>
</body>
</html>