/*----------footer---------*/
.footer {
   margin-top: $spacing-large;
   padding-top: $spacing-small;
   height: 15 rem;
   display: flex;
   justify-content: space-around;

}

p {
   font-family:  $font-principal;
   font-size: $text-medium;
   margin-bottom: $spacing-medium;
   text-align: center;
   color: $color-primary;

}

.footer__icons {
   display: flex;
}

.redes {
   margin: $spacing-xsmall;
}

.whatsapp_img {
   width: 18px;
   height: 18px;
}

ul {
   list-style-type: none;
   text-align: center;

   a {
      text-decoration: none;
      font-family: $font-principal;
      font-size: $text-medium;
      color: $color-primary;
      text-align: center;
      font-weight: 300;

      &:visited {
         color: $color-primary;
      }

   }

}

.footer__item {
   font-size: $text-medium;
   padding: 0.5rem;
   border: 1px solid $color-alternative;
   transition: all 1s;
   font-weight: 300;
   color: $color-primary;
   margin: 0 1.5rem 0 1.5rem;
   text-decoration: none;

   &:hover {
      border-color: $bottom-color;
      border-radius: 3px;
      color: $color-primary;
   }
}