/*--------header-------*/
.flex__center {
   display: flex;
   align-items: center;
}

header {
   @include flexbox (row, space-around, center);
   padding: $spacing-medium 0;

   .header {
      &__logo {
         @extend .flex__center;
      }

      &__img {
         max-width: 100px;
         border-radius: 50%;

      }

      &:hover {
         max-width: 110px;

      }

      &__info {
         @include flexbox (column, none, flex-start);
         padding-top: 1.8rem;
         margin: 0 1.2rem 0 1.2rem;
      }

      &__titulo {
         font-family: $font;
         font-size: 4rem;

      }

      &__subtitulo {
         font-family: $font-principal;
         font-size: $text-small;
         color: $color-secundary;
      }

   }

   /*------------NAV-BAR CON BOOTSTRAP Y FLEX-------------*/
   .navbar {
      @extend .flex__center;
      background-color: $color-primary;

      .icon__success {
         background-color: $color-primary;
      }

      .menu__item {
         font-size: $text-medium;
         padding: 0.5rem;
         border: 1px solid $color-primary;
         transition: all 1s;
         font-weight: 300;
         color: $color-secundary;
         margin: 0 1.5rem 0 1.5rem;

         &:hover {
            border-color: $bottom-color;
            border-radius: 3px;
            color: $color-secundary;
         }
      }



      .menu__product {
         border: 1px solid $color-primary;
         transition: all 1s;
         font-weight: 300;
         color: $color-alternative;

         &:hover {
            border-color: $text-color;
            border-radius: 3px;
            background-color: $color-primary;

         }
      }

      .menu__registro {
         display: flex;
         gap: $spacing-medium
      }
   }

}