//---------------FULL RESPONSIVE----------------//
//------MOBILE-------//
/*---index----*/
@media (min-width:320px) and (max-width:576px) {

   .titulo1 {
      font-size: 1rem;
      height: 60px;
      flex-wrap: wrap;
   }

   .back__titulo {
      height: 60px;
   }

   .flex__column2 {
      display: flex;
      flex-direction: column;
   }

   header {
      flex-wrap: wrap;
      padding: 3rem 0;

      .header__img {
         max-width: 70px;

         &:focus {
            max-width: 80px;
         }
      }

      .header__info {
         padding-top: 0.2rem;
         margin: 0 0.8rem 0 0.8rem;
      }

      .header__titulo {
         font-size: 2.5rem;
         margin-bottom: 0;
      }

      .header__subtitulo {
         font-size: $text-base;
      }

      .navbar {

         .menu__item {
            padding: 2px;
            margin: 1rem 0 1rem 0;
         }

      }

   }

   .conteiner {
      @extend .flex__column2;
      align-items: center;
      margin-bottom: $spacing-medium;

      .conteiner__text {
         @extend .flex__column2;
         align-items: center;
         text-align: center;
         padding-right: 0;

         .text__video {
            font-size: 3.8rem;
         }

         .text__video--bajo {
            font-size: 1.8rem;
            margin-bottom: $spacing-medium;
         }
      }

      .video__index {
         width: 450px;
         height: 380px;
      }

   }

   .main {
      height: 350px;

      .image__text--0 {
         font-size: 3rem;
      }

      .image__text--1 {
         font-size: 2.5rem;
      }

      .image__text--2 {
         font-size: 1.8rem;
      }

      .btn__views {
         font-size: 10px;
         padding: 12px 22px;
      }
   }

   .title__gallery {
      font-size: 2.8rem;

   }

   .gallery__index {
      @extend .flex__column2;
      align-items: center;
      gap: $spacing-large;
   }

   .gallery__img {
      width: 400px;
   }

   .footer {
      @extend .flex__column2;
   }

   p {
      font-size: 1.5rem;
      margin-bottom: 0;
   }

   .menu__item {
      font-size: 1.5rem;
      text-align: center;
      border: $color-alternative;

   }

   a {
      font-size: $text-base;
      text-align: center;
   }

   ul {
      padding-left: 0;
   }

   .footer__icons {
      display: flex;
      justify-content: center;

   }

   .redes {
      width: 20px;
      height: 20px;
   }

   /*---contacto---*/

   .views__titulo {
      font-size: 3.8rem;
   }

   .container__form {
      width: 100%;

      .btn__views {
         font-size: 10px;
         padding: 12px 22px;
      }
   }

   /*---productos----*/

   .conteinerpro {

      .catalogo {
         grid-template-columns: repeat(1, auto);
         grid-template-rows: repeat(6, auto);
         margin: 0.5rem;

      }

      .catalogo__box {
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
      }
   }

   /*---envios----*/
   .delivery {
      height: 55rem;
      margin: $spacing-small;

      .delivery__text {
         font-size: 2.4rem;

      }

      .delivery__list {
         font-size: 1.6rem;
      }

      .list {
         font-size: 1.5rem;
      }

      .delivery__ckeckbox {
         font-size: 1.5rem;
      }
   }
/*----Nosotros----*/
.card-body{

   margin: 1rem;
  
}

.card-title{

   font-size: 2.2rem;
}
.card-text{
 
   font-size:  1.5rem;
}

}

/*--------TABLET-------*/
@media (min-width:577px) and (max-width:991px) {

   /*---index----*/

   .titulo1 {
      font-size: $text-base;
      height: 40px;
      flex-wrap: wrap;
   }

   .back__titulo {
      height: 45px;
   }

   .flex__column3 {
      display: flex;
      flex-direction: column;
   }

   header {
      flex-wrap: wrap;
      padding: 3rem 0;

      .header__img {
         max-width: 80px;

         &:focus {
            max-width: 90px;
         }
      }

      .header__info {
         padding-top: 0.2rem;
         margin: 0 0.8rem 0 0.8rem;
      }

      .header__titulo {
         font-size: 3rem;
         margin-bottom: 0;
      }

      .header__subtitulo {
         font-size: $text-base;
      }

      .navbar {

         .menu__item {
            padding: 2px;
            margin: 1rem 0 1rem 0;
         }

      }
   }

   .conteiner {
      @extend .flex__column3;
      align-items: center;
      margin-bottom: $spacing-medium;

      .conteiner__text {
         @extend .flex__column3;
         align-items: center;
         text-align: center;
         padding-right: 0;

         .text__video {
            font-size: 4rem;
         }

         .text__video--bajo {
            font-size: 1.8rem;
            margin-bottom: $spacing-medium;
         }
      }

      .video__index {
         width: 560px;
         height: 315px;
      }

   }

   .main {
      height: 500px;

      .image__text--0 {
         font-size: 3.5rem;
      }

      .image__text--1 {
         font-size: 2.7rem;
      }

      .image__text--2 {
         font-size: 1.8rem;
      }
   }

   .title__gallery {
      font-size: 3rem;

   }

   .gallery__index {
      @extend .flex__column3;
      align-items: center;
      gap: $spacing-large;
   }

   .gallery__img {
      width: 500px;
      height: 450px;
      margin: 4rem;
   }

   .footer {
      @extend .flex__column3;
   }

   p {
      font-size: 1.8rem;
      margin-bottom: 0;
   }

   a {
      font-size: $text-base;
      text-align: center;
   }

   ul {
      padding-left: 0;
   }

   .footer__icons {
      display: flex;
      justify-content: center;

   }

   .redes {
      width: 20px;
      height: 20px;
   }

   /*---contacto---*/

   .views__titulo {
      font-size: 4rem;
   }

   .container__form {
      width: 100%;

      .btn__views {
         font-size: 12px;
         padding: 12px 22px;
      }
   }

   /*---productos----*/

   .conteinerpro {

      .catalogo {
         grid-template-columns: repeat(2, auto);
         grid-template-rows: repeat(6, auto);
         margin: 0.5rem;

      }

      .catalogo__box {
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: center;
      }
   }


   /*---envios----*/

   .delivery {
      height: 55rem;
      margin: 4rem;

      .delivery__text {
         font-size: 3rem;

      }

      .delivery__list {
         font-size: 1.8rem;
      }

      .list {
         font-size: 1.8rem;
      }

      .delivery__ckeckbox {
         font-size: 1.8rem;
      }
   }

   /*----Nosotros----*/

.nosotros {
   padding: 4rem;
}
.card-body{
   
   margin: 2rem;
  
}

.card-title{

   font-size: 3.2rem;
}
.card-text{
 
   font-size:  2rem;
}
}