  /*colors*/
  $color-primary: #fff;
  $color-secundary: #000000;
  $color-alternative: #6d3d14;
  $text-color: #302b27;
  $bottom-color: #f5b82b;
  $border-color: lightgrey;

   /*Spacings*/
  $spacing-large: 6rem;
  $spacing-medium: 2.8rem;
  $spacing-small: 2rem;
  $spacing-xsmall: 1rem;
