/*------- VIEWS-CONTACTO----------*/
.views__titulo {
   font-family: $font-secundary;
   font-weight: 300;
   margin-top: $spacing-large;
   padding: 20px;
   border-top: 1px solid $bottom-color;
   font-size: 8.5rem;
   color: $color-alternative;
   grid-area: banner;
   display: flex;
   justify-content: center;
   align-items: center;
   background-image: url(/img/fondosarepas.jpg);
   background-attachment: fixed;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   height: 35vh;
}

.text-center {
   padding: $spacing-small;
}

form {
 
   .form-label__contact {
      font-size: $text-small;

   }

}
.container__form {
   width: 500px;

}