/*------- VIEWS-CONTACTO----------*/
.views__titulo {
   font-family: $font;
   font-weight: 300;
   margin-top: $spacing-large;
   border-top: 1px solid $bottom-color;
   font-size: $spacing-large;
   text-align: justify;
   color: $color-alternative;
}

.text-center {
   padding: $spacing-small;
}

form {
 
   .form-label__contact {
      font-size: $text-small;

   }

}
.container__form {
   width: 500px;

}