/*-------------DELIVERY-ENVIOS-------------*/
.delivery {
   height: 60rem;
   margin: $spacing-large;

   .delivery__text {
      font-family: $font-secundary;
      font-size: 3.5rem;
      color: $color-alternative;
      text-align: justify;
      margin: $spacing-xsmall;
     
   }

   .delivery__list {
      font-family: $font-secundary;
      font-size: $text-medium;
      text-align: justify;
      color: $color-secundary;

      .list {
         margin: $spacing-small;
      }
   }

   .delivery__ckeckbox {

      @extend .delivery__list;
      @include flexbox (row, none , center, );
      gap: $spacing-xsmall;

   }
}