/*---------------------INICIAR SESION-------------*/
.formulario__registro {
    display: flex;
    justify-content: center;
    align-items: center;
 }
 
 .datos__hola {
    font-size: var(--text-medium);
    display: flex;
    flex-direction: column;
    color: var(--alternative);
    align-items: center;
    justify-content: center;
 
 }
 
 .datos__iniciar {
    margin-top: var(--spacing-large);
 
 }
 
 .ingresa__datos {
    margin: var(--spacing-xsmall);
    padding: var(--spacing-xsmall);
    border-radius: 5px;
    border: 1px solid var(--border-color);
    color: var(--border-color);
    text-align: center;
    width: 30rem;
 }
 
 .datos__registrarse {
    font-size: var(--text-small);
    background-color: var(--alternative);
    color: var(--primary);
    border-radius: 3px;
    padding: var(--spacing-xsmall);
 }
 