/*--------------PRODUCTS--------*/
.flex__column {
   display: flex;
   flex-direction: column;
}

.conteinerpro {
   max-width: 1200px;
   margin: 0 auto;
   margin-top: $spacing-small;


   .catalogo {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      gap: $spacing-xsmall;

      &__box {
         @extend .flex__column;
         align-items: center;

      }

      &__img {
         width: 200px;
         height: 250px;
         display: flex;
         align-items: center;
      }
   }

   .info {
      @extend .flex__column;
      align-items: center;

      &__title {
         font-size: $text-medium;
         color: $color-alternative;
         text-align: center;

      }

      &__subtitle {
         margin: $spacing-xsmall;
         color: $text-color;
         font-size: $text-small;
         text-align: center;
      }
   }

}