/*--------------REGISTRARSE---------------------*/
.datos__enter {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-small);
 
 }
 
 .button__registro {
    display: flex;
    justify-content: space-evenly;
 }
 