
   /*font-family*/
   $font-principal: 'lato', sans-serif;
   $font-title: 'Roboto Condensed', serif;
 
    /*font-sizes*/
   $text-large: 5.2rem;
   $text-medium: 2rem;
   $text-small: 1.2rem;
   $text-base: 1rem;