
   //font-family//
   $font: 'Lobster',sans-serif; 
   $font-principal: 'lato', sans-serif;
   $font-secundary: 'Gilda Display', serif;
   
 
    //font-sizes//
   $text-large: 5.2rem;
   $text-medium: 2rem;
   $text-small: 1.2rem;
   $text-base: 1rem;