/*---------SEGUNDA SECCION - VIDEO-------*/

.conteiner {
   background-color: $bottom-color;
   max-width: 1200px;
   margin: 0 auto;
   margin-top: $spacing-small;
   display: flex;
   border-radius: 5px;
   box-shadow: #bdb8b8 0px 10px 14px 1px;

   .conteiner__text {
      @include flexbox (column, center, center, );
      padding-right: 10rem;

      .text__video {
         font-family: $font-secundary;
         font-size: 6.5rem;
         font-weight: 400;
         margin-top: $spacing-medium;
         color: $color-primary;
      }

      .text__video--bajo {
         font-size: $text-medium;
         font-weight: 300;
         color: $color-primary;
      }


   }
   .video {
      margin-top: 40px;
   }

}