/*--------Seccion principal---------*/

.conteiner {
   max-width: 1200px;
   margin: 0 auto;
   margin-top: $spacing-small;
   display: flex;
   justify-content: space-evenly;


   .conteiner__text {
      @include flexbox (column, center, center,);
      padding-right: 10rem;

      .text__video {
         font-family: $font-secundary;
         font-size: 5.8rem;
         font-weight: 400;
         margin-top: $spacing-medium;
         color: $color-secundary;
      }

      .text__video--bajo {
         font-size: $text-medium;
         font-weight: 300;
         color: $color-secundary;
      }

   }

}