/*-------------main---------------*/
.main {
   height: 650px;
   margin: $spacing-large 0;
   display: flex;
   align-items: center;

   &__image {
      background-image: url(../img/fondomain1.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #1f1300;
      min-width: 100%;
      min-height: 100%;
      text-align: center;
      @include flexbox (row, center, center,);
    
      .image__text {
         @include flexbox (column, center, center,);
         gap: $spacing-small;

         h2 {
            font-family: $font-secundary;
            font-size: $text-large;
            color: $color-primary;
         }

         &--1 {
            font-family: $font-secundary;
            font-size: $text-medium;
         }

         &--2 {
            font-family: $font-secundary;
            font-size: $text-medium;
         }

         &--3 {
            font-size: $text-small;
            color: $color-secundary;
      
         }
      }
   }
}