/*-------------main---------------*/
.main {
   height: 650px;
   margin: $spacing-large 0;
   display: flex;
   align-items: center;

   &__image {
      background-image: url(../img/fondomain1.png);
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #1f1300;
      min-width: 100%;
      min-height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;

      .image__text {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: $spacing-small;

         h1 {
            font-family: $font-principal;
            font-size: $text-large;
            font-weight: 400;
         }

         &--1 {
            font-family: $font-principal;
            font-size: 2.5rem;
         }

         &--2 {
            font-size: $text-medium;
         }

         &--3 {
            font-size: $text-small;
            padding: $spacing-xsmall;
            color: $color-secundary;
            font-weight: 700;
         }
      }
   }

   .btn-main {
      background-image: linear-gradient(to top, #ffffff 10%, #c9c01c 100%)
   }

}